.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  background: var(--gray-700);
  height: 20rem;
}

.header img {
  height: 3.2rem;
}

.header strong {
  font-size: 4rem;
  color: var(--blue-300);
}

.header strong + strong {
  color: var(--purple-500);
}